<ion-tabs>

  <!-- Tab Bar -->
  <ion-tab-bar slot="bottom" class="bg-babyblue shadow-soft font-nunito">
    <ion-tab-button (click)="setTab('homework')" [class]="tab === 'homework' ? 'bg-mint text-textPrimary' : 'text-textSecondary hover:bg-lightyellow'">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Homework</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="setTab('gallery')" [class]="tab === 'gallery' ? 'bg-peach text-textPrimary' : 'text-textSecondary hover:bg-lightyellow'">
      <ion-icon name="images-outline"></ion-icon>
      <ion-label>Gallery</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="setTab('announcements')" [class]="tab === 'announcements' ? 'bg-lavender text-textPrimary' : 'text-textSecondary hover:bg-lightyellow'">
      <ion-icon name="megaphone-outline"></ion-icon>
      <ion-label>Announcements</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <!-- Tab Content -->
  <ion-tab tab='homework'>
    <ion-content>
      <app-homework-tab></app-homework-tab>
    </ion-content>
  </ion-tab>
  <ion-tab tab='gallery'>
    <ion-content>
      <app-gallery-tab></app-gallery-tab>
    </ion-content>
  </ion-tab>
  <ion-tab tab='announcements'>
    <ion-content>
      <app-announcements-tab></app-announcements-tab>
    </ion-content>
  </ion-tab>

</ion-tabs>
