.font-nunito {
	font-family: 'Nunito', 'Quicksand', sans-serif;
}

ion-input.custom-input {
  --padding-start: 12px;
  --padding-end: 12px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --color: #1f2937;
}
ion-textarea.custom-input {
  --color: #1f2937;
}
ion-select.custom-input {
   --padding-start: 12px;
  --padding-end: 12px;
  --padding-top: 10px;
  --padding-bottom: 10px;
}
